.title{
    display: flex;
    justify-content: center;
}
.image-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.image-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ece6e6;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;
    width: 350px
}
.image-card:hover{
    box-shadow: 0 4px 8px rgba(0,0,0.2);
}
.image-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width :100%;
    margin-top: 20px;
}
button{
    background-color: #9e2a2a;
    color: #5c1608;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
img{
    width:300px;
    height:250px;
}
h3{
    color: #5c1608;
}
h1{
    color: #5c1608;
}
.no-images{
    color: #5c1608;
    display: flex;
    justify-content: center;
    font-size: 24px;
}